server:
  port: 8080

spring:
  application:
    name: backend
  profiles:
    active: @spring.profiles.active@
#    active: prod

management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  level:
    root: info
    web: info
